# Copy this file to .env and fill in the values below

# Get this token from Discord Developer Portal: https://discord.com/developers/applications
TOKEN=

# Use this to configure a separate default prefix if you're running a separate development copy of the bot on the same server as someone else.
COMMAND_PREFIX="!"
